Webservice/HouseRentalWebservice/src/conf/xml-resources/web-service-references/UserService/wsdl/localhost_8080/HouseRentalWebservice/UserService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://myrental.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://myrental.com/">

<xs:element name="checkLogin" type="tns:checkLogin"/>

<xs:element name="checkLoginResponse" type="tns:checkLoginResponse"/>

<xs:element name="display" type="tns:display"/>

<xs:element name="displayResponse" type="tns:displayResponse"/>

<xs:element name="register" type="tns:register"/>

<xs:element name="registerResponse" type="tns:registerResponse"/>

<xs:complexType name="display">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="displayResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="tns:myConnection">
<xs:sequence>
<xs:element name="alamat" type="xs:string" minOccurs="0"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="nomor_telepon" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="tanggal_lahir" type="xs:string" minOccurs="0"/>
<xs:element name="tempat_lahir" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myConnection">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="checkLogin">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkLoginResponse">
<xs:sequence>
<xs:element name="return" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="register">
<xs:sequence>
<xs:element name="username" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="alamat" type="xs:string" minOccurs="0"/>
<xs:element name="nomor_telepon" type="xs:string" minOccurs="0"/>
<xs:element name="tanggal_lahir" type="xs:string" minOccurs="0"/>
<xs:element name="tempat_lahir" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>