Webservice/HouseRentalWebservice/src/conf/xml-resources/web-service-references/TransaksiService/wsdl/localhost_8080/HouseRentalWebsite/TransaksiService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://myrental.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://myrental.com/" name="TransaksiService">
<types>
<xsd:schema>
<xsd:import namespace="http://myrental.com/" schemaLocation="http://localhost:8080/HouseRentalWebsite/TransaksiService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="checkKartu">
<part name="parameters" element="tns:checkKartu"/>
</message>
<message name="checkKartuResponse">
<part name="parameters" element="tns:checkKartuResponse"/>
</message>
<message name="showData">
<part name="parameters" element="tns:showData"/>
</message>
<message name="showDataResponse">
<part name="parameters" element="tns:showDataResponse"/>
</message>
<portType name="TransaksiService">
<operation name="add">
<input wsam:Action="http://myrental.com/TransaksiService/add" message="tns:add"/>
</operation>
<operation name="checkKartu">
<input wsam:Action="http://myrental.com/TransaksiService/checkKartuRequest" message="tns:checkKartu"/>
<output wsam:Action="http://myrental.com/TransaksiService/checkKartuResponse" message="tns:checkKartuResponse"/>
</operation>
<operation name="showData">
<input wsam:Action="http://myrental.com/TransaksiService/showDataRequest" message="tns:showData"/>
<output wsam:Action="http://myrental.com/TransaksiService/showDataResponse" message="tns:showDataResponse"/>
</operation>
</portType>
<binding name="TransaksiServicePortBinding" type="tns:TransaksiService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="checkKartu">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TransaksiService">
<port name="TransaksiServicePort" binding="tns:TransaksiServicePortBinding">
<soap:address location="http://localhost:8080/HouseRentalWebsite/TransaksiService"/>
</port>
</service>
</definitions>