Webservice/HouseRentalWebservice/src/conf/xml-resources/web-service-references/TransaksiService/wsdl/localhost_8080/HouseRentalWebservice/TransaksiService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://myrental.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://myrental.com/">

<xs:element name="add" type="tns:add"/>

<xs:element name="addResponse" type="tns:addResponse"/>

<xs:element name="checkDays" type="tns:checkDays"/>

<xs:element name="checkDaysResponse" type="tns:checkDaysResponse"/>

<xs:element name="show" type="tns:show"/>

<xs:element name="showDataTrans" type="tns:showDataTrans"/>

<xs:element name="showDataTransResponse" type="tns:showDataTransResponse"/>

<xs:element name="showResponse" type="tns:showResponse"/>

<xs:element name="update" type="tns:update"/>

<xs:element name="updateResponse" type="tns:updateResponse"/>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="status" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="show">
<xs:sequence>
<xs:element name="arg0" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showResponse">
<xs:sequence>
<xs:element name="return" type="tns:transaksi" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transaksi">
<xs:complexContent>
<xs:extension base="tns:myConnection">
<xs:sequence>
<xs:element name="catatan" type="xs:string" minOccurs="0"/>
<xs:element name="durasi_sewa" type="xs:int"/>
<xs:element name="harga" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="jumlah_orang" type="xs:int"/>
<xs:element name="nomor_kartu" type="xs:string" minOccurs="0"/>
<xs:element name="properti" type="tns:properti" minOccurs="0"/>
<xs:element name="status" type="xs:int"/>
<xs:element name="tanggal_penyewaan" type="xs:string" minOccurs="0"/>
<xs:element name="tipe_pembayaran" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="tns:user" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myConnection">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="properti">
<xs:complexContent>
<xs:extension base="tns:myConnection">
<xs:sequence>
<xs:element name="alamat" type="xs:string" minOccurs="0"/>
<xs:element name="deskripsi" type="xs:string" minOccurs="0"/>
<xs:element name="foto" type="tns:foto" minOccurs="0"/>
<xs:element name="harga" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="kota" type="xs:string" minOccurs="0"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="rating" type="xs:double"/>
<xs:element name="tipe_properti" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="foto">
<xs:complexContent>
<xs:extension base="tns:myConnection">
<xs:sequence>
<xs:element name="foto1" type="tns:blob" minOccurs="0"/>
<xs:element name="foto2" type="tns:blob" minOccurs="0"/>
<xs:element name="foto3" type="tns:blob" minOccurs="0"/>
<xs:element name="foto4" type="tns:blob" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="properti" type="tns:properti" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="blob">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="user">
<xs:complexContent>
<xs:extension base="tns:myConnection">
<xs:sequence>
<xs:element name="alamat" type="xs:string" minOccurs="0"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="nomor_telepon" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="tanggal_lahir" type="xs:string" minOccurs="0"/>
<xs:element name="tempat_lahir" type="xs:string" minOccurs="0"/>
<xs:element name="username" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="checkDays">
<xs:sequence>
<xs:element name="date" type="xs:string" minOccurs="0"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="durasi" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="checkDaysResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="add">
<xs:sequence>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="properti" type="xs:int"/>
<xs:element name="harga" type="xs:int"/>
<xs:element name="tanggal" type="xs:string" minOccurs="0"/>
<xs:element name="durasi_sewa" type="xs:int"/>
<xs:element name="jumlah_orang" type="xs:int"/>
<xs:element name="tipe_pembayaran" type="xs:string" minOccurs="0"/>
<xs:element name="nomor_kartu" type="xs:string" minOccurs="0"/>
<xs:element name="catatan" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="showDataTrans">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showDataTransResponse">
<xs:sequence>
<xs:element name="return" type="tns:transaksi" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>