Webservice/HouseRentalWebservice/web/WEB-INF/wsdl/localhost_8080/HouseRentalWebservice/PropertiService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://myrental.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://myrental.com/">

<xs:element name="showDataProp" type="tns:showDataProp"/>

<xs:element name="showDataPropResponse" type="tns:showDataPropResponse"/>

<xs:complexType name="showDataProp">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="showDataPropResponse">
<xs:sequence>
<xs:element name="return" type="tns:properti" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="properti">
<xs:complexContent>
<xs:extension base="tns:myConnection">
<xs:sequence>
<xs:element name="alamat" type="xs:string" minOccurs="0"/>
<xs:element name="deskripsi" type="xs:string" minOccurs="0"/>
<xs:element name="foto" type="tns:foto" minOccurs="0"/>
<xs:element name="harga" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="kota" type="xs:string" minOccurs="0"/>
<xs:element name="nama" type="xs:string" minOccurs="0"/>
<xs:element name="rating" type="xs:double"/>
<xs:element name="tipe_properti" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="myConnection">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="foto">
<xs:complexContent>
<xs:extension base="tns:myConnection">
<xs:sequence>
<xs:element name="foto1" type="tns:blob" minOccurs="0"/>
<xs:element name="foto2" type="tns:blob" minOccurs="0"/>
<xs:element name="foto3" type="tns:blob" minOccurs="0"/>
<xs:element name="foto4" type="tns:blob" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="properti" type="tns:properti" minOccurs="0"/>
</xs:sequence>
</xs:extension>
</xs:complexContent>
</xs:complexType>

<xs:complexType name="blob">
<xs:sequence/>
</xs:complexType>
</xs:schema>