Webservice/HouseRentalWebservice/web/WEB-INF/wsdl/localhost_8080/HouseRentalWebservice/TransaksiService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://myrental.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://myrental.com/" name="TransaksiService">
<types>
<xsd:schema>
<xsd:import namespace="http://myrental.com/" schemaLocation="http://localhost:8080/HouseRentalWebservice/TransaksiService?xsd=1"/>
</xsd:schema>
</types>
<message name="add">
<part name="parameters" element="tns:add"/>
</message>
<message name="addResponse">
<part name="parameters" element="tns:addResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="showDataTrans">
<part name="parameters" element="tns:showDataTrans"/>
</message>
<message name="showDataTransResponse">
<part name="parameters" element="tns:showDataTransResponse"/>
</message>
<message name="show">
<part name="parameters" element="tns:show"/>
</message>
<message name="showResponse">
<part name="parameters" element="tns:showResponse"/>
</message>
<message name="checkDays">
<part name="parameters" element="tns:checkDays"/>
</message>
<message name="checkDaysResponse">
<part name="parameters" element="tns:checkDaysResponse"/>
</message>
<portType name="TransaksiService">
<operation name="add">
<input wsam:Action="http://myrental.com/TransaksiService/addRequest" message="tns:add"/>
<output wsam:Action="http://myrental.com/TransaksiService/addResponse" message="tns:addResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://myrental.com/TransaksiService/updateRequest" message="tns:update"/>
<output wsam:Action="http://myrental.com/TransaksiService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="showDataTrans">
<input wsam:Action="http://myrental.com/TransaksiService/showDataTransRequest" message="tns:showDataTrans"/>
<output wsam:Action="http://myrental.com/TransaksiService/showDataTransResponse" message="tns:showDataTransResponse"/>
</operation>
<operation name="show">
<input wsam:Action="http://myrental.com/TransaksiService/showRequest" message="tns:show"/>
<output wsam:Action="http://myrental.com/TransaksiService/showResponse" message="tns:showResponse"/>
</operation>
<operation name="checkDays">
<input wsam:Action="http://myrental.com/TransaksiService/checkDaysRequest" message="tns:checkDays"/>
<output wsam:Action="http://myrental.com/TransaksiService/checkDaysResponse" message="tns:checkDaysResponse"/>
</operation>
</portType>
<binding name="TransaksiServicePortBinding" type="tns:TransaksiService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="add">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="showDataTrans">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="show">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="checkDays">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TransaksiService">
<port name="TransaksiServicePort" binding="tns:TransaksiServicePortBinding">
<soap:address location="http://localhost:8080/HouseRentalWebservice/TransaksiService"/>
</port>
</service>
</definitions>